@charset "UTF-8";

/* Media Queries*/

/*Typical Breakpoints

Pequenas Telas : até 480px
Celulares : 481px até 768px
Tablets : 769px até 1024px
Desktop : 1025px até 1440px
Grandes Telas : Acima de 1441px
*/

            /* Tablets */
@media screen and (min-width:769px) and (max-width:1024){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: block;}
    img#tablet{display: block;}
    img#impre{display: none;}
    img#desktop{display: none;}
    img#big-screen{display: none;}
}

            /* Desktop */
@media screen and (min-width:1025) and (max-width:1440) {
    
}

            /* Grandes Telas */
@media screen and (min-width:1441){

}