@charset "UTF-8";

/* Media Queries*/

/*Typical Breakpoints
--------------------------------
Pequenas Telas : até 480px
Celulares : 481px até 768px
Tablets : 769px até 1024px
Desktop : 1025px até 1440px
Grandes Telas : Acima de 1441px
*/

            /* Tablets */
@media screen and (min-width:768px) and (max-width:1024px){
    body{
        background-color: blue;
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#impre{display: none;}
    img#desktop{display: none;}
    img#big-screen{display: none;}
}

            /* Desktop */
@media screen and (min-width:1025px) and (max-width:1440px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#impre{display: none;}
    img#desktop{display: block;}
    img#big-screen{display: none;}
}

            /* Grandes Telas */
@media screen and (min-width:1441px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#impre{display: none;}
    img#desktop{display: none;}
    img#big-screen{display: block;}
}