@charset "UTF-8";

/* Config Gerais */


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
}
body{
    color: white;
    text-shadow: 3px 2px 0px #10185e;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}